.ui.breadcrumb {
    position: relative;
    font-size: 14px;

    a {
        text-decoration: none;
    }

    .section {
        color: $grain;
        padding: 8px;
        display: inline-block;

        &.active {
            color: $oxblood;
            text-decoration: underline;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .right.angle.icon {
        display: inline-block;
        position: relative;
        height: 16px;
        width: 16px;

        &:before {
            content: '\003e';
            font-size: 16px;
            line-height: 16px;
        }
    }
}