@import '../../styles/variables';
@import '../../styles/mixins';

$max-button-width: $max-homepage-content-width;

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 24px;
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.primary {
  background: $primary-color;
  border: 2px solid $primary-color;
  color: white;

  > span {
    color: white;
  }

}

.ghost {
  border: 2px solid $primary-color;
  background: none;
  color: $primary-color;

  > span {
    color: $primary-color;
  }
  
}

.secondary-text {
  display: block; 
  font-size: 12px;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;

  @include medium {
    font-size: 10px;
  }
}
