$primaryBlue: #005ea2;
$secondaryBlue: #346c9d;
$linkBlue: #346c9d;

///FONTS
$open-sans: "Open Sans";
$merriweather: "Merriweather";

//COLORS
$primary-color: #005ea2;
$text-color: #343838;
$title-blue: #0e395c;
$subtitle-grey: #646b6b;
$secondary-blue: #f2f8ff;
$hover-grey: #f2f2f2;

//MEDIA QUERIES
$small-width: 767px;
$medium-width: 1024px;
$max-width: 944px;

$padding-width: 16px;
$max-homepage-content-width: (4/6 * 100%);