/*********************
    Global variables   
**********************/

@import './variables.scss';
@import './fonts.scss';

/*********************
    Global styles   
**********************/
body {
  font-size: 14px;
  font-family: 'OpenSans';
}

.primary {
  color: $primaryBlue;
}

.ui.color.primary {
  background-color: $primaryBlue;
  color: #fff;
}

.ui.color.secondary {
  background-color: $secondaryBlue;
  color: #fff;
}

h1 {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

h3 {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

/********************
    Segment styles
*********************/
.ui.segment {
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 4px;
}

/*****************
    Grid styles
******************/
.ui.grid {
  max-width: 944px;
}

// @import '../../semantic/dist/semantic.min.css';

