@import 'src/styles/variables';
@import 'src/styles/mixins';

$arrow-height: 6px;

.internal-menu {
  // styles for the ul inside menu
  &--links,
  &--extra {
    padding: 0 16px;
    margin: 0;
    list-style: none;

    a,
    p {
      display: block;
      cursor: pointer;
      position: relative;
      color: $primary-color;
      padding: 8px 8px 8px 22px;
      font-size: 16px;
      line-height: 24px;


      &:hover:not(:focus) {
        background: $hover-color;
      }

      &::before {
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        top: 14px;
        left: 8px;
        border-top: $arrow-height solid transparent;
        border-bottom: $arrow-height solid transparent;
        border-left: $arrow-height solid $primary-color;

        @include medium {
          top: 12px;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid $primary-color;
        }
      }

      &.internal-menu--active--link {
        color: $text-color;
        font-weight: 600;
        cursor: default;
        padding-left: 22px;
        padding-right: 8px;
        margin: 0;

        &::before {
          position: absolute;
          width: 0;
          height: 0;
          content: "";
          top: 14px;
          left: 8px;
          border-top: $arrow-height solid transparent;
          border-bottom: $arrow-height solid transparent;
          border-left: $arrow-height solid $text-color;

          @include medium {
            top: 12px;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid $text-color;
          }
        }
      }
    }

    @include medium {
      a, p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
      }
    }

    @include large {
      a, p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
      }
    }
  }

  // desktop menu styles
  &--list {
    display: inline-block;

    @include small {
      display: none;
    }
  }

  &--extra--title {
    padding: 16px 0 16px 16px;
    font-size: 16px;
    font-weight: 600;
    color: $text-color;

    @include medium {
      padding-top: 0;
      font-size: 12px;
    }
  }

  &--accordion {
    .ui.accordion {
      .title {
        border-bottom: 1px solid $hover-grey;

        &.active {
          border-bottom: none;
        }
      }
  
      .content.active {
        border-bottom: 1px solid $hover-grey;
      }
    }

    .internal-menu--links .link--text > p,
    .internal-menu--links li > p.internal-menu--active--link {
      margin: 0;
      padding: 8px 0;
      vertical-align: middle;

      &::before {
        top: 14px;
      }
    }

    @include medium {
      display: none;
    }
  }
}
