@import 'src/styles/variables';
@import 'src/styles/mixins';

$arrow-height: 6px;

.internal-menu {
  // styles for the ul inside menu
  &--links,
  &--extra {
    padding: 0 16px;
    margin: 0;
    list-style: none;

    li {
      cursor: pointer;
      position: relative;
      padding-left: 22px;

      p {
        color: $primary-color;
        margin: 0 0 16px;
        font-size: 16px;
        line-height: 24px;

        &::before {
          position: absolute;
          width: 0;
          height: 0;
          content: '';
          top: $arrow-height;
          left: 8px;
          border-top: $arrow-height solid transparent;
          border-bottom: $arrow-height solid transparent;
          border-left: $arrow-height solid $primary-color;

          @include medium {
            top: 4px;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid $primary-color;
          }
        }

        &.internal-menu--active--link {
          color: $text-color;
          font-weight: 600;
          cursor: default;

          &::before {
            position: absolute;
            width: 0;
            height: 0;
            content: '';
            top: $arrow-height;
            left: 8px;
            border-top: $arrow-height solid transparent;
            border-bottom: $arrow-height solid transparent;
            border-left: $arrow-height solid $text-color;
  
            @include medium {
              top: 4px;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 4px solid $text-color;
            }
          }
        }
      }
    }

    @include medium {
      li p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;        
      }
    }

    @include large {
      li p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;        
      }
    }
  }

  // desktop menu styles
  &--list {
    display: inline-block;

    @include small {
      display: none;
    }
  }

  &--extra--title {
    padding: 16px 0 16px 16px;
    font-size: 16px;
    font-weight: 600;
    color: $text-color;

    @include medium {
      padding-top: 0;
      font-size: 12px;
    }
  }

  &--accordion {
    @include medium {
      display: none;
    }
  }
}
