.sidemenu--toggle {
  cursor: pointer;
}

.sidemenu {
  &--close {
    position: absolute;
    top: 14px;
    left: 16px;
    margin-bottom: 0;
  }
}

$item-margin-bottom: 24px;
.ui.sidebar {
  visibility: hidden;
  background-color: #fff;
  padding: 12px 56px 8px;

  &.visible {
    visibility: visible;
  }

  .link--text {
    display: block;
  }

  .button {
    display: inline-block;
    margin: 0 0 $item-margin-bottom;
  }

  > * {
    margin-bottom: $item-margin-bottom;
  }
}

.ui.overlay.sidebar {
  z-index: 999;

  &.left {
    transform: translate3d(-100%, 0%, 0);
  }
  &.right {
    transform: translate3d(100%, 0%, 0);
  }
  &.top {
    transform: translate3d(0%, -100%, 0);
  }
  &.bottom {
    transform: translate3d(0%, 100%, 0);
  }

  &.animating,
  &.visible {
    transition: transform 0.35s ease;
  }

  &.visible.left{
    transform: translate3d(0%, 0%, 0);
  }
  &.visible.right {
    transform: translate3d(0%, 0%, 0);
  }
  &.visible.top {
    transform: translate3d(0%, 0%, 0);
  }
  &.visible.bottom {
    transform: translate3d(0%, 0%, 0);
  }
}