@import '../../styles/variables';
@import '../../styles/mixins';

$header-grey: #979797;
$header-white: #f2f2f2;

.ui.table {
  width: 100%;
  background-color: white;
  border: 1px solid $header-grey;
  border-bottom: none;
  border-spacing: unset;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;

  thead {
    border-radius: 20px;
  }

  thead th {
    padding: 12px;
    border-right: 1px solid $header-grey;
    border-bottom: 1px solid $header-grey;
    text-align: left;
    background-color: $header-white;
    font-weight: 600;

    &:first-child {
      border-radius: 4px 0 0 0;
    }

    &:last-child {
      border-radius: 0 4px 0 0;
      border-right: none;
    }
  }

  tr td {
    padding: 12px;
    border-right: 1px solid $header-grey;
    border-bottom: 1px solid $header-grey;

    &:last-child {
      border-right: none;
    }
  }
}

$table-cell-padding: 16px;

@include small {
  .ui.table:not(.unstackable) {
    width: 100%;
    // padding: 0em;

    tbody,
    tr,
    tr > th,
    tr > td  {
      display: block !important;
      width: auto !important;
    }

    tr > td {
      border: none;
      padding: 0 $table-cell-padding;

      &:first-child {
        font-weight: 600;
        padding: $table-cell-padding;
      }

      &:last-child {
        border-bottom: 1px solid $header-grey;
        padding-bottom: $table-cell-padding;
      }
    }

    thead { 
      display:  none;
    }

    tfoot {
      display: block;
    }
  }
}