@import 'src/styles/variables';

.scroll-to-top--wrapper {
  width: 55px;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
}

.widget-back-to-top {
  color: $primary-color;
  font-size: 16px;
  font-weight: 600;
}