@import "../../styles/variables";
@import "../../styles/mixins";

$arrow-height: 6px;


.ui.accordion {

  .title {
    border-top: 1px solid $hover-grey;
    cursor: pointer;
    height: 100%;
    
    &--with-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      >span {
        padding: 16px;
        color: $primary-color;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &--icon {
      width: 40px;
      height: 40px;
      justify-self: center;
      align-self: center;
      margin-right: 16px;
      margin: none;
    }

    &--text {
      color: $primary-color;
      font-weight: bold;
      font-size: 20px;
      margin-left: 36px;

      &::before {
        content: "";
        border-left: $arrow-height solid $primary-color;
        border-top: $arrow-height solid transparent;
        border-bottom: $arrow-height solid transparent;
        left: 20px;
        margin-top: 6px;
        position: absolute;
      }

    }

    &.active {
      margin-bottom: 0;
      border-bottom: 1px solid $hover-grey;
      // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);

      .title--text {
        color: $primary-highlight-color;
      }

      .title--with-icon > span {
        color: $primary-highlight-color;
      }

      >p {
        &::before {
          content: "";
          border-left: $arrow-height solid transparent;
          border-top: $arrow-height solid $primary-color;
          border-right: $arrow-height solid transparent;
          left: 20px;
          margin-top: 9px;
          position: absolute;
        }
      }
    }

    &:focus {
      outline: $focus-color auto 2px;
    }

    &:hover {
      @include large {
        background-color: $hover-grey;
      }
    }

    &:nth-last-child(2):not(.single) {
      border-bottom: 1px solid $hover-grey;
    }
  }

  .content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in-out;

    &.active {
      transition: max-height 0.35s ease-in-out;
      border-top: none;
    }

    >.content--body {
      padding: 16px;
    }
  }
}