
@import 'src/styles/variables';

.link {
  
  width: 156px;
  cursor: pointer;

  &--text {
    color: $primary-color;

    &:hover:not(:focus) {
      color: $primary-highlight-color;
    }

    &:focus {
      outline: 2px solid $focus-color;
    }

    svg {
      margin-left: 8px;
    }
    
  }

  &--arrow {
    width: 20px;
    height: 20px;
  }

  &--name {
    display: inline;
    text-decoration: underline;
    color: $primary-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &--header-text {
  color: $primary-color; 
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
    > span {
      vertical-align: middle;
    }
  }


  &--next-prev {
    padding:8px;
    &:focus {
      background: $focus-color;
    }
    &:hover:not(:focus) {
      background: $hover-color;
    }
  }

  &--next {
    text-align: right;
    .icon {
      margin-left: 8px;
    }
  }

  &--previous {
    text-align: left;
    .icon {
      margin-right: 8px;
    }
  }
}